[submodule "backend"]
	path = server
	url = https://github.com/mailxem/xem.go
[submodule "client"]
	path = client
	url = https://github.com/mailxem/xem-app.ts
[submodule "devops"]
	path = devops
	url = https://github.com/mailxem/devops.git
	branch = main
[submodule "mcp"]
	path = mcp
	url = https://github.com/mailxem/mcp.git
	branch = main
[submodule "payments.go"]
	path = payments.go
	url = https://github.com/mailxem/payments.go.git
	branch = sudo
[submodule "sdk-go"]
	path = sdk-go
	url = https://github.com/mailxem/sdk-go.git
	branch = sudo
[submodule "sdk"]
	path = sdk
	url = https://github.com/mailxem/sdk.git
	branch = sudo
[submodule "website"]
	path = website
	url = https://github.com/mailxem/xem-website.git
	branch = codex/xem-website
